<!DOCTYPE html>
<html>
    {{.Head.Header}}
    <body>
        {{.Nav.Navbar}}
        
        <div class="post-list">
        <h1 class="tag-pagetitle">Categories</h1>
        <p class="tag-itemcount">Total {{.TagsNum}} items</p>
        <br />

            {{range $name, $val := .Tags}}
            <div class="tag-block" id="{{GetTagnameHash $name}}">
                <h1>{{$name}}</h1>
                <hr class="tag-line"/>
                <ul>
                    {{range $items := $val}}
                    <li class="tag-item">
                        <h2 class="post-link"><a href="page/{{$items.Path}}" class="post-link">{{$items.Title}}</a></h2>
                        <p class="index-timestamp">{{GetTimeStamp $items.Timestamp}}</p>
                    </li> 
                    {{end}}
                </ul>
            </div>
            {{end}}

        {{.Foot.Footer}}
    </body>
</html>